.container-cart{
    padding: 100px 0 ;
}

.item-cart{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: bisque;
    padding: 20px;
    margin-bottom: 10px;
}

.item-cart img{
    width: 200px;
}

.btn{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.btn button{
    padding: 5px;
    width: 20px;
    background-color: black;
    color: #fff;
    font-size: 1.2rem;
    border: none;
}

.total{
    padding: 20px;
    background-color: tomato;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.total p{
    text-align: end;
    font-weight: bold;
}

.money{
    font-size: 2rem;
    color: #000;
}

.link{
    padding: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.link p{
    width: 100%;
    text-align: center;
    background-color: tomato;
    padding: 10px;
    border-radius: 5px;
}

.link a{
    background-color: #fff;
    color: #000;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;
}

@media (max-width: 768px){

    .item-cart{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: 10px
    }

    .item-cart img{
        margin-bottom: 20px;
    }

}
